<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
              layout="${longdate}|CorrelationId=${aspnet-item:variable=CorrelationId}| TestService |${uppercase:${level}}|${logger}|${message} ${exception}" />
    <target xsi:type="WebService"
        name="LogService"
        url="http://localhost:50303/api/log/new"
        protocol="JsonPost"
        encoding="UTF-8">
      <parameter name="ServiceName" type="System.String" layout='TestService' />
      <parameter name="Logger" type="System.String" layout='${logger}' />
      <parameter name="Message" type="System.String" layout='${message} ${exception}"' />
      <parameter name="Level" type="System.String" layout='${level}' />
      <parameter name="CorrelationId" type="System.Guid" layout='${aspnet-item:variable=CorrelationId}' />
    </target>
    
    <!--<target xsi:type="WebService"
            name="LogService"
            url="http://10.23.20.114:80/api/log/new"
            protocol="JsonPost"
            encoding="UTF-8">
      <parameter name="message" type="System.String" layout='${message}' />
      <parameter name="level" type="System.String" layout='${level}' />
      <parameter name="correlationId" type="System.Guid" layout='${aspnet-item:variable=CorrelationId}' />
    </target>-->
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <logger name="*" minlevel="Info" writeTo="LogService" />
  </rules>
</nlog>